APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_DATABASE_ID=
APPWRITE_PROFILES_TABLE_ID=
APPWRITE_DOCTOR_PROFILES_TABLE_ID=
APPWRITE_APPOINTMENTS_TABLE_ID=
APPWRITE_PRESCRIPTIONS_TABLE_ID=
APPWRITE_MEDICAL_RECORDS_TABLE_ID=
APPWRITE_NOTIFICATIONS_TABLE_ID=
APPWRITE_AUDIT_LOGS_TABLE_ID=
APPWRITE_MEDICAL_BUCKET_ID=
APP_ENV=
